@media screen and (max-width: 575px) {
  .ce-border-r,
  .ce-border-c {
    display: none;
  }
  
  .ce-container {
    grid-template-columns: 1fr;
  }

  .certificate {
    align-items: center;
    justify-content: center;
    row-gap: 10px;
    border-bottom: 1px solid var(--ce-border-color);
  }

  .certificate img {
    width: 60%;
  }

  #nav-bar .container-fluid {
    flex-direction: column;
  }

  #nav-bar .container-fluid a {
    padding: 0 20px;
    flex: 0 1 40px;
    justify-content: start;
  }

  #nav-bar .container-fluid > * {
    border: 0px solid var(--bg-grey-color);
  }

  #about .container-fluid {
    grid-template-columns: repeat(1, 1fr);
  }

  #target, #personal-info {
    padding: 30px 15px;
  }
}